.button {
            -fx-background-color:
                linear-gradient(#f2f2f2, #d6d6d6),
                linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
                linear-gradient(#dddddd 0%, #f6f6f6 50%);
            -fx-background-radius: 8,7,6;
            -fx-background-insets: 0,1,2;
            -fx-text-fill: black;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 14px;
        }

        .button:hover {
                          -fx-background-color:
                              #c3c4c4,
                              linear-gradient(#d6d6d6 50%, white 100%),
                              radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
                          -fx-background-radius: 8,7,6;
                          -fx-background-insets: 0,1,1;
                          -fx-text-fill: black;
                          -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
            -fx-font-family: 'Helvetica', Arial, sans-serif;
            -fx-font-size: 14px;
                      }


      .tab-pane .tab:selected
      {
          -fx-background-color: #4475C0;
          -fx-focus-color: transparent;
          -fx-font-family: 'Helvetica', Arial, sans-serif;
          -fx-font-size: 14px;


      }

      .tab-pane .tab-header-area .tab-header-background {
          -fx-opacity: 60%;
          -fx-focus-color: transparent;
      }
      .tab .tab-label {
          -fx-alignment: CENTER;
          -fx-font-weight: bold;
          -fx-font-family: 'Helvetica', Arial, sans-serif;
          -fx-font-size: 14px;

      }



      .table-view .column-header {
      -fx-background-color: #76A0DF;
          -fx-font-family: 'Helvetica', Arial, sans-serif;
          -fx-font-size: 15px;

      }
      .table-view {
      -fx-focus-color: transparent;
          -fx-font-family: 'Helvetica', Arial, sans-serif;
          -fx-font-size: 14px;
      }

      #welcome .label {
      -fx-font-size: 22px;
       -fx-font-weight: bold;
      }

      .table-row-cell:selected {

         -fx-background-color: #C0DAFF;

      }
      .table-row-cell:selected .text {
             -fx-fill: black ;
          -fx-font-family: 'Helvetica', Arial, sans-serif;
          -fx-font-size: 14px;

      }

      .text-area {
      -fx-focus-color: transparent;
      -fx-border-color: #1B4B70 ;
      -fx-border-width: 2px;
          -fx-font-family: 'Advent Pro';
          -fx-font-size: 14px;

      }
      #helpEditMedicine, #helpEditUser, #helpMyPrescriptions, #helpNewUser, #helpForgotten {
          -fx-font-family: fantasy;
          -fx-font-weight: bolder;
          -fx-font-size: 23px;

      }
      .text-field {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 14px;
      }
